@media screen and (max-width:992px) {
    .container .row .left-col{
        min-height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container .row .right-col{
        min-height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .container .row .right-col .right-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        justify-content: space-around;
    }
}